@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
}


.header{
    padding: 40px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 3s;
}

.navbar a:hover,
.navbar a.active {
    color: wheat;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}



.home-content p {
    color: white;
    margin: 20px 0 20px;
}

.home-content p a {
    color: white;
}

.home-content p a:hover {
    color: wheat;
}

.home-content h1 {
    font-size: 56px;
    color: white;
    font-weight: 700;
    
}

.home-content h3 {
    font-size: 32px;
    color: white;
    font-weight: 700;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}

td {
    background-color: #f2f2f2;
    
}

tr:hover {
    background-color: #555;
}
.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

@media (max-width: 480px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        display: none; /* Hide table headers on mobile */
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid #ddd;
    }

    td:before {
        content: attr(data-label); /* Use data-label to create labels */
        font-weight: bold;
        flex-basis: 50%;
    }
    /* Hide the collapsible rows on mobile by default */
    .collapsible-content {
       display: none !important;
    }
}


    /* Show the collapsible rows on desktop */
    @media (min-width: 769px) {
      .collapsible-content {
        display: table-row;
      }
    }
